.bg-gray {
    background-color: #e9ecef;
}
.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.text-heading {
    color: #343a40;
}
.text-para {
    color: #6c757d;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-unstyled li a {
    text-decoration: none;
}
.list-unstyled li a:hover {
    text-decoration: underline;
}
.bg-transparent {
    background-color: rgba(0,0,0,0) !important;
}
.border-dark {
    border-color: #343a40 !important;
}
.border-end-0 {
    border-right: 0;
}
.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.bg-dark-gray {
    background-color: #343a40;
}
.text-gray-300 {
    color: #dee2e6;
}
.contacts {
    padding-top: 1rem;
}
.navbar {
    background-color: #343a40;
}
.jumbotron {
    margin-top: 20px;
    background-image: url('./../img/booksmall.jpg');
    background-size: cover;
    background-color: #dee2e6;
}
.wrapper {
    height: 300px;
    width: 300px;
    position: relative;
    border:5px solid;
    border-radius: 50%;
    background: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8PDw8PDw8PDw0PDw8PDw8PDQ8PDQ8PFRUWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAOEA4QMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQYC/8QAFhABAQEAAAAAAAAAAAAAAAAAAAER/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAL/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDTgqkoAAAAAAACiACoAoIAKACAAKCAAAAAAC4AgAAAAAAEAAAVFBAAVBQQUBBQEAAAAAAABRAAAAAAAAAFQAVFQBUUASKAIoAAIKgAAAAAAGgAAAAAAAAAAAKgCiAKAAAAgAAAAAAAAAAAAAAAAAAAAoICgiooAigAAgAAKCAoIAAAAAAAACggqAAACoCiKCKAAAAAIKgAAAAAqAAoIAAogCgCAAAAAAKgAKAigAACKgAAAAAACgAYACKAAgAKAIqAqKAGCAqKgAAAAAACgAACKACKgAAKACCoAoAAAAAAAgKCAAAAAoAigAAAAgoCaKAgKAioAoAAAAACAKgAAAAAAAKIAoAiooIogAuAIAAACgAiooAFAEAAAAAAAAACCgIKCAAAoAYAioAoAAAAAAigiooAIAqAAKCAAAoCCgioAoAIKAgACoAqCggqAoAIKAIqAAAAAqAABAVAAABRAFABAAAABUoCoACgIKAIoCAAAAAAAAAAAAAACgIoAgAAAKgAqgDlQAqAAAAUAVAAUAQoAqUAAAUAH//Z');
    background-size: 100% 100%;
    margin: 100px auto;
    overflow: hidden;
}
.my_file {
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 120px;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;

}
.my_file::-webkit-file-upload-button {
    visibility: hidden;
}
.my_file::before
{
    content: '\f030';
    font-family: fontAwesome;
    font-size: 50px;
    color: #fff;
    display: inline-block;
    -webkit-user-select:none;
}
.my_file::after {
    content: 'Update';
    font-family: 'arial';
    font-weight: bold;
    color: #fff;
    display: block;
    top: 70px;
    font-size: 14px;
    position:absolute;
}
.my_file:hover{
    opacity: 1;

}
.wrapper {
    margin: 0;
    padding: 0;
    background: navy;
}