.wrapper {
    height: 300px;
    width: 300px;
    position: relative;
    border:2px solid;
    border-radius: 50%;
    /* background: url(''); */
    background-size: 100% 100%;
    background-color: rgb(195, 195, 195);
    margin: 50px auto;
    overflow: hidden;
    font-family: 'Libre Baskerville', serif;
}
.my_file {
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 120px;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    font-family: 'Libre Baskerville', serif;

}
.my_file::-webkit-file-upload-button {
    visibility: hidden;
    font-family: 'Libre Baskerville', serif;
}
.my_file::before
{
    content: '\f030';
    font-family: fontAwesome;
    font-size: 50px;
    color: #fff;
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
}
.my_file::after {
    content: 'Update';
    font-family: 'arial';
    font-weight: bold;
    color: #fff;
    display: block;
    top: 70px;
    font-size: 14px;
    position:absolute;
    font-family: 'Libre Baskerville', serif;
}
.my_file:hover{
    opacity: 1;
    font-family: 'Libre Baskerville', serif;
}